{
  "extends": "@folio/eslint-config-stripes/acquisitions",
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "overrides": [
    {
      "files": [ "src/**/tests/*", "test/**/*" ],
      "rules": {
        "@typescript-eslint/triple-slash-reference": "off",
        "react/prop-types": "off",
        "import/prefer-default-export": "off"
      }
    }
  ],
  "env": {
    "jest": true
  },
  "settings": {
    "import/resolver": {
      "alias": {
        "map": [
          ["__mock__", "./test/jest/__mock__"],
          ["fixtures", "./test/jest/fixtures"],
          ["helpers", "./test/jest/helpers"]
        ],
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  }
}
